/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
.gallery-section.container.section-padding-space .box-1-1:before {
    padding: 0!important
}

.gallery .gallery-item.bottom-row {
    margin-top: 10px
}

.gallery-section.container.section-padding-space .box-1-1 .content {
    position: inherit!important
}

.gallery-section.container.section-padding-space img {
    height: auto!important
}

.menu-header-theme-bg-primary {
    background: #ffb819!important;
}

.category-item img {
    max-width: 100%!important
}

.product-item img {
    object-fit: cover!important
}

.product-crd-spec {
    min-height: auto!important;
    margin-bottom: 5px!important
}

.products-slider .prod-col div {
    text-align: initial!important
}

.product-item .product-title>span {
    height: auto!important;
    font-weight: 500!important
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    width: 100%!important
}

.container.container-slider {
    padding-left: 0;
    padding-right: 0
}

.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-12.col-lg-5 {
    flex: 0 0 30%!important;
    padding-left: 0!important
}

.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-lg-7 {
    flex: 0 0 70%!important;
    max-width: 70%!important
}

.store-section p {
    font-size: 14px!important;
    text-align: center;
}

.d-flex.flex-column-reverse.flex-lg-row.flex-wrap.align-items-center.justify-content-between.footer-store-section-bars {
    background: #000!important;
    color: #fff!important
}

.footer-copyrights-vat-certificate span {
    font-size: 15px
}

.store-section h1 {
    font-size: 17px!important;
    font-weight: 500!important;
    text-align: center;
}

.vat-crn-sections.py-4.d-flex.flex-row.flex-wrap.justify-content-end.align-items-center {
    padding-top: 10px!important;
    padding-bottom: 10px!important
}

.footer-copyrights-vat-certificate {
    background: #000
}

.footer-store-section-bars {
    min-height: auto!important
}

.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg {
    padding-top: 36px;
    padding-bottom: 10px!important;
}

.features-section-img {
    max-height: 50px!important;
    max-width: 50px!important
}

.products-slider .prod-col {
    padding-left: 5px!important;
    padding-right: 5px!important
}

.product-card-rating-wrapper {
    height: auto!important
}

.home-categories-section.section-padding-space {
    padding-top: 0;
    padding-bottom: 0
}

.categories-slider {
    height: auto!important
}

.section-padding-space {
    padding-top: 5px!important;
    padding-bottom: 5px!important
}

#a2320cdf-08f5-4d52-8da2-3203c42b3ec6 {
    background: 0 0
}

#fixed-header {
    background-color: #fff!important
}

.account-lang-currency upper-bar header-theme-bg-primary header-theme-text-for-primary-bg {
    background-color: #e1cc7a!important
}

.dark d-none d-lg-block {
    background-color: #e1cc7a!important
}

.header-theme-bg-primary {
    background-color: #fff!important
}

@media(max-width: 768px) {
    .categories-slider .category-item {
        width: auto
    }

    .footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-12.col-lg-5 {
        flex: 0 0 100%!important
    }

    .footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg .col-lg-7 {
        flex: 0 0 100%!important;
        max-width: 100%!important
    }

    p.px-2.theme-text-for-primary-bg.features-section-title {
        margin-top: 5px!important;
        margin-bottom: 5px!important
    }

    .features-section-img {
        max-height: 40px!important;
        max-width: 40px!important
    }

    .category-item h3 {
        margin-top: 5px!important;
        font-size: 14px!important;
        margin-bottom: 0!important
    }

    .product-item .product-title>span {
        height: auto!important;
        font-size: 13px!important;
        font-weight: 500!important
    }

    .product-item div {
        text-align: initial!important
    }

    .product-item img {
        object-fit: cover
    }

    .product-card-rating-wrapper {
        height: auto!important
    }

    .product-crd-spec {
        min-height: auto!important;
        margin-bottom: 10px!important
    }

    .gallery-item.col-6 {
        padding-left: 5px!important;
        padding-right: 5px!important
    }

    .categories-slider.s-slider .cat-col {
        width: 23.5%!important
    }

    .categories-slider.s-slider .cat-col {
        padding-left: 2px!important;
        padding-right: 2px!important
    }

    .categories-slider, .products-slider, .testimonials-slider, .partners-slider {
        margin-bottom: 0!important
    }
}

.menu-header-theme-bg-primary {
    background-color: #e1cc7a
}

.account-lang-currency.upper-bar.header-theme-bg-primary.header-theme-text-for-primary-bg {
    background-color: #e1cc7a!important
}

.footer-theme-text-for-primary-bg {
    background-color: #fff
}

.category-item img {
    margin: 0 auto;
    max-width: 60%;
    height: auto
}

@media(max-width: 768px) {
    .products-slider.s-slider .prod-col {
        padding-left:5px!important;
        padding-right: 5px!important
    }

    .gallery.row .gallery-item.col-6 {
        width: 100%;
        max-width: 100%!important;
        flex: 1 1 100%!important;
        margin-top: 5px
    }

    .categories-slider, .products-slider, .testimonials-slider, .partners-slider {
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        margin-bottom: -78px
    }

    .search-header .image-logo {
        padding: 2px 0!important
    }
}

@media(min-width: 768px) {
    .account-area {
        z-index: 10000;
        margin-top: -35px
    }

    .search-header.header-theme-bg-primary {
        padding-top: 0;
        padding-bottom: 0
    }

    .language-currency.d-flex.justify-content-between {
        display: none!important
    }

    .account-lang-currency {
        padding: 0!important
    }

    .header-logo, .header-cart {
        width: auto!important
    }
}

@media(max-width: 550px) {
    .d-flex.align-items-center.bd-highlight.header-logo {
        justify-content:space-around!important
    }
}

.features-section {
    background: transparent;
    color: #000;
}

.theme-text-for-primary-bg {
    color: #000000;
}

.header .icon-shopping_cart_black_36dp-1-1 .path1 {
    display: none
}

#fixed-header:not(.sticky) .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: "\e914 ";
    width: 25px;
    color: #0d0c0c!important;
    margin: unset;
    font-family: icomoon
}

#fixed-header.sticky .icon-shopping_cart_black_36dp-1-1 .path2::before {
    display: block;
    content: "\e914 ";
    width: 25px;
    color: #0d0c0c!important;
    font-family: icomoon;
    margin: unset
}

.d-flex.flex-row.justify-content-center.align-items-center.flex-wrap.icons-wrapper.footer-store-section-bars::before {
    content: "خيارات دفع امنة ومتعددة";
    font-family: inherit;
    font-size: 15px;
    line-height: 2;
    color: #292929;
}

.footer-icons::after {
    content: "تصميم " " " "3lwaaa@gmail.com";
    color: #292929;
    font-size: 10px;
    display: block;
    text-align: left;
}

.footer-about-us-div h1 {
    display: none
}

.footer-about-us-div p:before {
    display: block;
    width: 14pc;
    margin: -10px auto 25px;
    content: "";
    height: 68px;
    display: block;
    background: transparent url("https://media.zid.store/db59bb2a-740a-4d17-8ea6-65efab53f1c7/fd4181ba-814d-463b-a806-3aa5473fe4a5-200x.png")0rem 0rem/100%no-repeat!important;
    background-size: contain!important
}

@media(max-width: 991px) {
    .slide-menu__slider>ul>li:nth-child(1) {
        grid-column:1/3;
        border-bottom: 0;
        display: block;
        content: "";
        width: 20rem;
        margin: 6px auto 8px;
        height: 94px;
        background: transparent url("https://media.zid.store/db59bb2a-740a-4d17-8ea6-65efab53f1c7/fd4181ba-814d-463b-a806-3aa5473fe4a5-200x.png")center 1rem/75%no-repeat;
        background-size: contain;
        filter: brightness(9.5);
    }
}

body > div > div.footer > footer > div.footer-store-section.store-section.footer-theme-bg-primary.footer-theme-text-for-primary-bg > div > div > div.col-12.col-lg-7 > div > div:nth-child(3) > div > h1 {
    text-align: inherit;
}

.footer-theme-bg-primary {
    background-position: inherit;
    margin-top: 30px;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
    background-color: #f7f7f7
}

@media(max-width: 767px) {
    .footer-theme-bg-primary {
        background-position:inherit;
        margin-top: 30px;
        text-align: center;
        padding: 40px;
        margin: 20px;
        border-radius: 15px;
        background-color: #f7f7f7
    }
}

body {
    background: #fff;
}

* {
    font-weight: unset!important
}

h1 {
    font-weight: unset!important
}

h2,h3 {
    font-weight: unset!important
}

.store-section h1 {
    font-size: 15px;
    margin-top: 20px
}

.store-section .social-icons {
    justify-content: center
}

.footer .footer-store-section-bars .icons {
    width: 100%;
    justify-content: center
}

.footer-store-section-bars {
    border-bottom: 0
}

.footer .logistics-pay-icons:after {
    content: "";
    display: block;
    width: 100%;
    height: 45px!important;
    margin: 0;
    background-image: url(https://media.zid.store/62bce10b-690e-447d-b4d9-d2e87705efd0/34badc10-33ef-4f74-bbb0-cbf886067ba6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.footer .logistics-pay-icons a {
    display: none
}

.vat-crn-sections {
    justify-content: center!important
}

.footer .vat-crn-sections .vat-number {
    width: 100%;
    text-align: center;
    margin-top: 10px
}

.store-section .social-icons span {
    height: 35px;
    width: 35px;
    color: #8e8e8e;
    font-size: 17px;
    border: 2px solid #ffb819;
    padding: 5px;
    border-radius: 50%;
}

.search-header .image-logo {
    padding: 0;
    position: relative;
    top: 14px;
}

.slick-slide img {
    border-radius: 25px
}

.container.container-slider {
    margin-top: 10px
}

@media only screen and (max-width: 768px) {
    .container-slider {
        max-width:95%
    }
}

.testimonials-customer-text {
    height: 151px;
    text-align: center;
    padding-top: 61px;
    padding-left: 10px;
    padding-right: 11px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    background-image: url(https://media.zid.store/e372fb81-9e10-4c34-b41d-8cf0cb5a8acc/f0bdf9ac-d0cc-4e97-9a8a-aa5f563f4633.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffb819;
}

@media (max-width: 767px) {
    .testimonials-customer-text {
        height: 131px;
    }
}

@media(max-width: 767px) {
    .product-item {
        width:184px
    }
}

a.btn.btn-primary.product-card-add-to-cart {
    margin-bottom: 10px;
    padding: 7px 14px;
    position: relative;
    z-index: 1;
    border: 1px solid #ffb819;
    background-color: #fff;
    color: #ffb819
}

a.btn.btn-primary.product-card-add-to-cart:hover {
    color: #fff!important;
    transition-delay: .5s
}

a.btn.btn-primary.product-card-add-to-cart::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffb819;
    z-index: -1;
    transition: .5s
}

a.btn.btn-primary.product-card-add-to-cart:hover::before {
    z-index: -1;
    animation-name: left-move;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

@keyframes left-move {
    50% {
        left: 0;
        width: 8px;
        height: 8px
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%
    }
}

a.btn.btn-primary.product-card-add-to-cart::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffb819;
    z-index: -1;
    transition: .5s
}

a.btn.btn-primary.product-card-add-to-cart:hover::after {
    z-index: -1;
    animation-name: right-move;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

@keyframes right-move {
    50% {
        right: 0;
        width: 8px;
        height: 8px
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%
    }
}

.product-item .product-price {
    color: #ffa601!important
}

a.btn.btn-primary.product-card-add-to-cart {
    border: 1px solid #ffb819;
    color: #000
}

a.btn.btn-primary.product-card-add-to-cart::after {
    background-color: #ffb819
}

a.btn.btn-primary.product-card-add-to-cart::before {
    background-color: #ffb819
}

.theme-border-primary {
    border-color: #ffb819!important
}

.theme-text-primary {
    color: #000
}

.testimonials-customer-card .card-body:before {
    content: "\f005 ""\f005 ""\f005 ""\f005 ""\f005 ";
    display: block;
    font-family: icomoon!important;
    color: #ffd814;
    font-size: 16px;
    font-weight: 400;
    line-height: 3;
}
.features-section {
    background: transparent;
    color: #fff;
}

.main .features-section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.main .features-section {
    background-color: transparent;
    margin-bottom: 0px;
    margin-top: 0px;
}

.main .features-section .feature p {
    line-height: 1.7;
    font-size: 13px !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

@media(max-width: 991px) {
    .main .features-section {
        background: 0px center;
        display: flex;
        flex-wrap: wrap;
    }
}

.main .features-section {
    margin: 34px auto;
}

.main .features-section .feature p {
    text-align: center;
}

.header-theme-bg-primary {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main .features-section .feature p {
    margin-bottom: 30px;
    color: #8d7e4d;
}

.main .features-section .feature p {
    margin-bottom: 30px;
    color: #000000
}

.features-section-img {
    max-height: 63px;
    max-width: 63px
}

.features-section-img {
    margin-bottom: 0;
    border: none;
    position: relative;
    top: 0px;
    animation: float 4s ease-in-out infinite;
    transition: all .4s ease
}

@keyframes float {
    0% {
        transform: translatey(0px)
    }

    50% {
        transform: translatey(-20px)
    }

    100% {
        transform: translatey(0px)
    }
}

.features-section.section-padding-space::before {
    content: "بماذا نتميز؟";
    font-size: 21px;
    font-weight: 600;
    padding-right: 7px;
    margin: auto;
    color: #000000!important;
    width: 100%;
    text-align-last: center
}

@media(min-width: 768px) {
    .features-section.section-padding-space::before {
        position:absolute
    }
}

.features-section.section-padding-space {
    border-radius: 6px;
    padding: 10px 0 15px;
    /* box-shadow: 0 0 10px rgba(0,0,0,.3) */
}

.features-section.section-padding-space>div {
    background: unset
}

.feature .theme-text-for-primary-bg {
    text-align: center;
    font-weight: 700;
    border-radius: 0 5rem!important;
    font-size: 1.2rem
}

.feature .theme-text-for-primary-bg:after {
    white-space: pre;
    font-size: 1rem;
    font-weight: 700;
    color: #000000!important;
    white-space: pre-wrap
}

.feature:first-child .theme-text-for-primary-bg:after {
    content: "\a       خدمة عملاء على مدار الاسبوع  "
}

.feature:nth-child(2) .theme-text-for-primary-bg:after {
    content: "\a       مدى - بطاقة الائتمان - أبل باي   "
}

.feature:nth-child(3) .theme-text-for-primary-bg:after {
    content: "\a     تغطية كاملة لجميع مناطق المملكة   "
}

img.features-section-img {
    filter: none;
    mix-blend-mode: normal;
/*     filter: invert(64%)sepia(16%)saturate(2708%)hue-rotate(4deg)brightness(102%)contrast(72%); */
}
